//-=================================
 =           SVG Sprite            =
 ===================================
<svg class="svg--container" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <symbol viewBox="0 0 51 51" id="svg--close"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M2.5 48.5l46-46m-46 0l46 46" fill="none"/></symbol>
  <symbol viewBox="0 0 8.92 9.1" id="svg--error"><path d="M5.76 4.55l3.16-3.22-1.29-1.33-3.17 3.23-3.17-3.23-1.29 1.33 3.16 3.22-3.16 3.22 1.29 1.33 3.17-3.23 3.17 3.23 1.29-1.33-3.16-3.22z"/></symbol>
  <symbol viewBox="0 0 10 8.03" id="svg--valid"><path d="M10 1.61l-4.67 4.82-1.56 1.57-1.56-1.57-2.21-2.33 1.56-1.6 2.22 2.31 4.66-4.81 1.56 1.61z"/></symbol>
</svg>
