//-================================
 =           Variables            =
 ==================================
- var site = 'FunBox — тестовый сайт'

- var phone = '+7 (495) 999-99-99'
- var phoneLink = 'tel:+74959999999'

- var email = 'email@mail.com'
- var adminEmail = 'lynxloner@icloud.com'

- var address = 'Ул.Пушкина, д.Калатушкина'

- var developer = 'http://net-sup.com/'


- var index = 'Главная страница'
- var indexURL = 'index.html'

- var contacts = 'Контакты'
- var contactsURL = '#contacts'

-
  var products = [
    {
      toptext: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с фуа-гра',
      descr: '10 порций<br>мышь в подарок'
    },
    {
      toptext: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с фуа-гра',
      descr: '10 порций<br>мышь в подарок'
    },
    {
      toptext: 'Сказочное заморское яство',
      title: 'Нямушка',
      subtitle: 'с фуа-гра',
      descr: '10 порций<br>мышь в подарок'
    }
  ]
