/*=============================
=            Fonts            =
=============================*/
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/TrebuchetMS-Bold.woff2') format('woff2'),
        url('../fonts/TrebuchetMS-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/TrebuchetMS.woff2') format('woff2'),
        url('../fonts/TrebuchetMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2.0';
    src: url('../fonts/Exo20-Thin.woff2') format('woff2'),
        url('../fonts/Exo20-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

$mainFont: 'Trebuchet MS', Helvetica, Arial, sans-serif;
$semiFont: 'Exo 2.0', Helvetica, Arial, sans-serif;
