/*==============================
=            Header            =
==============================*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  &_container {
    position: fixed;
    z-index: 10;
    top: 0;left: 0;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    will-change: transform;
    &.shadow {
      box-shadow: 0 0 1px 1px rgba(black,0.2);
    }
    &.scroll {
      transform: translate3D(0,-100%,0);
      box-shadow: none;
    }
  }
}
.nav {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    margin-right: 10px;
  }
  &__link {
    text-decoration: none;
    color: $black;
    padding: 5px 10px;
    .active > & {
      
    }
  }
}
