//-=============================
 =           Header            =
 ===============================
header.header_container
  .header.wrapper

    a.logo(href=indexURL)

    nav.nav
      ul.nav__list
        each i in nav
          +nav(i.url, i.name, i.url == pageURL)

    a.header__callback(href='modal-callback') Заказать звонок
