//-===========================
 =          Product          =
 =============================

ul.products
  each item, index in products
    li.products__item
      a(href="#").product
        .product__outer
        p.product__top-text=item.toptext
        h2.product__title=item.title
        h3.product__subtitle=item.subtitle
        p.product__descr !{item.descr}
        img(src='/img/photo.png')

    //TODO: разобраться с уголком
