//-=== variables ===
include partial/variables

//-=== mixins ====
include mixin/navigation
include mixin/svg.pug

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title= site

    //-=== мета данные для поисковиков ====
    meta(name='author' content='')
    meta(name='description' content='')
    meta(name='keywords' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    //-=== вставка фавиконок ====
    include partial/favicon-inject

    //-=== блок стилей ====
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css')
    link(rel='stylesheet' href='css/main.css')

  body
    .container
      //- include sections/header

      .main_container
        include sections/hero

      //- include sections/footer

    //- include partial/modals
    include partial/svg-sprite

    //-=== нижний блок со скриптами ====
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    //-script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js')

    //-=== google карта, необходимо сгенерировать и добавить новый ключ ====
    //- script(src='https://maps.googleapis.com/maps/api/js?key=some_key')

    script(src='js/main.js')
